[data-semana]::after {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background: linear-gradient(red, #e54);
  border-radius: 50%;
  transition: 0.3s;
}

[data-semana].aberto::after {
  background: linear-gradient(greenyellow, #3f4);
}

[data-semana].light::after {
  border: 0.15rem solid #faf6ed;
}

[data-semana].dark::after {
  border: 0.15rem solid #111;
}
